<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baojikouyu.teach.mapper.HomeWorkMapper">

    <resultMap id="BaseResultMap" type="com.baojikouyu.teach.pojo.HomeWork">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="creater" column="creater" jdbcType="VARCHAR"/>
            <result property="createrId" column="creater_id" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="courseId" column="course_id" jdbcType="INTEGER"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="stopTime" column="stop_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,create_time,
        creater,creater_id,content,
        course_id,start_time,stop_time
    </sql>
</mapper>
