<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baojikouyu.teach.mapper.TemplateMapper">

    <resultMap id="BaseResultMap" type="com.baojikouyu.teach.pojo.Template">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="creater" column="creater" jdbcType="VARCHAR"/>
        <result property="createrId" column="creater_id" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="isFolder" column="is_folder" jdbcType="BOOLEAN"/>
        <result property="folderGrade" column="folder_grade" jdbcType="INTEGER"/>
        <result property="parentFolderId" column="parent_folder_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,create_time,
        creater,creater_id,content,
        is_folder,folder_grade,parent_folder_id
    </sql>
</mapper>
